.DS_Store
*.xcuserstate
xcuserdata/
DerivedData/
build/
.gradle/
local.properties
google-services.json
GoogleService-Info.plist
fabric.properties
*.jks
*.keystore
*.p8
*.p12
*.mobileprovision
*.cer
*.pem
Pods/
node_modules/
